:host {
  display: block;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Custom overrides if needed, mostly PrimeFlex handles it */
.p-menubar {
  border: none;
  border-radius: 0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}